nav{
    display: flex;
    background-color: lightgreen;
    border-color: green;
    border-width: 3px;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    font-style:initial;
    padding: 10px;
}