<app-navbar></app-navbar>
<app-button></app-button>
<button class="btn btn-primary" (click)="addRecord()">Add record</button>
<table>
    <thead>
        <th>Roll No.</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Score</th>
        <th>Actions</th>
    </thead>
    <tr *ngFor="let student of studentsData;let j=index">
      <td>{{student.rollNo}}</td>
      <td>{{student.name}}</td>
      <td>{{student.dob}}</td>
      <td>{{student.score}}</td>
      <td><span (click)="editData(j,true)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
          <span (click)="delete(student.id)"><i class="fa fa-times" aria-hidden="true"></i></span></td>
    </tr>
</table>