form{
    position: relative;
    top:100px;
    left:300px;
}
input{
    width:300px;
    height:20px;
}
button{
    padding: 0px;
    width: 80px;
    position: relative;
    top:10px;
}
span{
    position: relative;
    left:100px;
}

.custom-swal-popup {
    height: 100px;
    font-size: 16px;
  }